.pagination {
    display: flex;
    list-style: none;
    padding: 0;
    justify-content: center;
    margin-top: 18px;
}

.pagination li {
    margin: 0 5px;
}

.pagination a {
    color: #333;
    text-decoration: none;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.pagination a.active {
    background-color: #007bff;
    color: #fff;
}

.center-image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.center-content {
    text-align: center;
}