p {
    display: inline-block;
    word-wrap: break-word;
    max-width: 100%;
    /* Đảm bảo thẻ p không vượt quá kích thước của cha */

}

.popup-background {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.popup-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 60%;
    height: 200px;
    /* Tăng kích thước rộng của popup */
    max-width: 500px;
    /* Tăng giới hạn kích thước tối đa của popup */
    max-height: 90vh;
    /* Tăng chiều cao tối đa của popup và thêm thanh cuộn nếu cần */
    overflow: auto;
    /* Thêm thanh cuộn nếu nội dung vượt quá kích thước của popup */
    z-index: 1001;
}

/* Style cho nút đóng */
.close-btn {
    float: right;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
}

.button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #5766E5;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: 12px;
}

.button:hover {
    background-color: #4054b2;
}

.button:focus {
    outline: none;
}

/* Container cho input và nút */
.form-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 40px;
    /* Khoảng cách giữa các thành phần */
}